<!--primeiro divisor-->

<nav class="navbar-brand" >
  <div class="row" style="padding: 1em; ">
    <div class="col-md-2">
      <img src="../../../../assets/coobHome/logo/logotopo-144x33px.png">
    </div>
    <div class="col-md-1">
    </div>

    <div class="col-md-5">
      <button style="color: black;" mat-button>Benefícios</button>
      <button style="color: black;" mat-button>Destino</button>
      <button style="color: black;" mat-button>Indique+</button>
      <button style="color: black;" mat-button>Depoimentos</button>

    </div>

    <div class="col-md-2">
      <button mat-button class="yellowButton" style="width: 100%; font-size: 16pxw;">ASSINE</button>


    </div>
    <div class="col-md-2">
      <button mat-raised-button
      style="border-color: rgb(25, 27, 153); color: rgb(25, 27, 153);; border-radius: 15px; width: 100%;">LOGIN</button>
    </div>

  </div>
</nav>

<div class="banner" style="height: 500px; position: relative;
z-index:1;  " >
  <div class="container" style="padding: 1em; width: 100%;   ">

    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <br><br><br>
    <div class="row">
      <div class="col-md-6">

        <div class="row">
          <div class="col-md-4">
            <button mat-button class="yellowButton" style="width: 100%;">VEJA MAIS</button>

          </div>
          <div class="col-md-8"></div>
        </div>
      </div>
      <div class="col-md-6"></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-1">
  </div>
  <div class="col-md-10">
    <div style="width: 100%; background-color: rgb(43, 44, 116); border-radius: 20px;
    " >
      <div class="container" style="padding: 1em;">
        <br>
      <p style="text-align: center;" class="destino-texto">
        Busque seu hotel ou seu destino
      </p>
      <br>
      <div class="row">
      <div class="col-md-11">
        <div class="row">
          <div class="col-md-4">
            <form class="nosubmit">
              <input class="nosubmit" type="search" placeholder="Search...">
            </form>
          </div>
          <div class="col-md-2">
            <form class="nosubmit">
              <input class="nosubmit" type="search" placeholder="Search...">
            </form>
          </div>
          <div class="col-md-2">
            <form class="nosubmit">
              <input class="nosubmit" type="search" placeholder="Search...">
            </form>
          </div>
          <div class="col-md-4">
            <form class="nosubmit">
              <input class="nosubmit" type="search" placeholder="Search...">
            </form>
          </div>

        </div>


      </div>

        <div class="col-md-1">
          <img src="../../../../assets/coobHome/icons/buscabotao48x48px.png">
        </div>
      </div>
      </div>

    </div>
  </div>

</div>
<!--
<div  style="width: 80%;">
</div> -->







<div class="container"  style="padding: 1em; width: 100%;">

  <!--segundo divisor-->
  <div class="row">
    <div class="col-md-4">
<div style="margin-top: 60px;">
  <img src="../../../../assets/coobHome/familys/imgvantagens411x504px.png">
</div>

    </div>

    <div class="col-md-8">
  <div class="separator1">
    <div class="container" style="padding: 2em;">

        <p class="blueText" style="text-align: center;">Como você pode <b class="yellowText">viajar+</b></p>
        <br>
        <p class="blueText" style="text-align: right;">com sua assinatura Coob+</p>
<!-- SECTION ONE FOR CIRCLE ROWS AND COLS DESCRIPTIPONS -->
<br>
      <div style="padding: 2em;">
      <div class="row">
        <div class="col-md-6">
          <div class="row" style="margin-top:-20px ;">
            <div class="col-md-2">
              <img src="../../../../assets/coobHome/icons/icoaviao-133x132px.png"
                style="width: 100px; height: 100px; margin-left: -15px; margin-top: -10px;">
            </div>

            <div class="col-md-1">
              </div>
            <div class="col-md-8">
              <br>

              <p class="brandText">  São mais de 1.700 hotéis para você escolher onde quer ficar e explorar muitos Brasis! </p>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row" style="margin-left:-40px ;">
            <div class="col-md-2">
              <img src="../../../../assets/coobHome/icons/icohotel-133x132px.png"
                style="width: 100px; height: 100px; margin-left: -15px; margin-top: -10px;">
            </div>    <div class="col-md-1">
            </div>
          <div class="col-md-8">
            <br>
            <p class="brandText">     Com sua assinatura de viagens Coob+ você economiza até 60% no valor das diárias hoteleiras. </p>
            </div>
          </div>
        </div>
      </div>
      </div>

 <!-- SECTION TWO FOR CIRCLE ROWS AND COLS DESCRIPTIPONS -->
 <div style="padding: 2em;">
 <div class="row">
  <div class="col-md-6">
    <div class="row" style="margin-left:10px ;">
      <div class="col-md-2">
        <img src="../../../../assets/coobHome/icons/icomala-133x132px.png"
          style="width: 100px; height: 100px; margin-left: -15px; margin-top: -10px;">
      </div>
      <div class="col-md-1">
      </div>
    <div class="col-md-8">
     <br>
     <p class="brandText">  Você e seua acompanhante viajam sempre com seguro e café da manhã inclusos.</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="row" style="margin-left:-50px ;">
      <div class="col-md-2">
        <img src="../../../../assets/coobHome/icons/icomontanha-133x132px.png"
          style="width: 100px; height: 100px; margin-left: -15px; margin-top: -10px;">
      </div>
      <div class="col-md-1">
      </div>
    <div class="col-md-8">
      <br>
      <p class="brandText">   Suas diárias tem até 3 anos de validade. É só planejar e viajar! </p>
      </div>
    </div>
  </div>
</div>
</div>

  <!-- SECTION TRE FOR CIRCLE ROWS AND COLS DESCRIPTIPONS -->
  <div style="padding: 2em;">

  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-2">
          <img src="../../../../assets/coobHome/icons/icodirecao-133x132px.png"
            style="width: 100px; height: 100px; margin-left: -15px; margin-top: -10px;">
        </div>    <div class="col-md-1">
        </div>
      <div class="col-md-8">
         <p class="brandText"> Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ab impedit quo sed, et numquam
          earum quisquam officia modi excepturi perspiciatis! Suscipit repellat unde fugiat at maxime odit aliquid
          reiciendis? </p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-2">
          <img src="../../../../assets/coobHome/icons/icocadeira-133x132px.png  "
            style="width: 100px; height: 100px; margin-left: -15px; margin-top: -10px;">
        </div>  <div class="col-md-1">
        </div>
      <div class="col-md-8">
        <p class="brandText">    Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ab impedit quo sed, et numquam
          earum quisquam officia modi excepturi perspiciatis! Suscipit repellat unde fugiat at maxime odit aliquid
          reiciendis? </p>
        </div>
      </div>
    </div>
  </div>
  </div>



    </div>
  </div></div>
</div>

<br><br><br>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      </div>
      <div class="col-md-8">
        <div style="text-align: center;">
        <img src="../../../../assets/coobHome/familys/video759x378px.png">
        </div>
      </div>
      <div class="col-md-2">
      </div>
  </div>
</div>
<br><br><br>

<div class="row">
  <div class="col-md-5"></div>

  <div class="col-md-2">
    <button mat-button class="yellowButton" style="width: 100%;">ASSINE</button>

  </div>

  <div class="col-md-5"></div>

</div>
<br><br>
<!-- <div class="container" style="padding: 1em;">
  <div class="row">
    <div class="col-md-2">
      </div>
      <div class="col-md-8">
      <div>
  <p class="text-blue">Abrimos caminho para os</p>
</div>
<div>
  <p class="text-blue">sonhos de quem<b class="pink"> ama Viajar</b></p>
</div>
</div>
<div class="col-md-2">
</div>
</div>


</div> -->
<!--Terceiro divisor-->

  <!-- <div class="separator2">
    <div class="container" style="padding: 1em;">
      <div class="row">
        <div class="col-md-6">
          Texto<br>Texto
        </div>
        <div class="col-md-6">LABEL DE PESQUISA</div>
      </div>

      <div class="row">
        <div class="col-md-6">
        </div>
        <div class="col-md-6">LABEL DE PESQUISA</div>
      </div>

      <div class="row">
        <div class="col-md-6">
          Imagem1
        </div>
        <div class="col-md-6">Imagem1</div>
      </div>
      <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">
          <button mat-raised-button
            style="background-color: rgb(241, 196, 12); color: #fff; border-radius: 20px; width: 100%;">Assine</button>
        </div>

        <div class="col-md-4"></div>

      </div>
    </div>
  </div> -->

  <!--Quarto divisor-->
  <div class="separator1">
    <div class="container" style="padding: 2em;">
      <!-- <div>
        <p class="text-blue">Abrimos caminho para os</p>
      </div>
      <div>
        <p class="text-blue">sonhos de quem<b class="pink"> ama Viajar</b></p>
      </div> -->
      <p class="blueText" style="margin-left: -10%; text-align: center;">As melhores ofertas</p>

      <br>
      <p class="blueText" style="text-align: center;">para <b class="yellowText">Você viajar</b></p>

      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">

        <div class="carousel-inner">

          <div class="carousel-item active" >
          <div class="container">
            <div class="row" style=" margin-top: -15%; padding: 15em;">
              <div class="col-md-4">
            <img src="../../../../assets/coobHome/familys/imgpromocao232x228px.png" class="d-block w-100" alt="...">
            <br>
            <div class="row">
              <div class="col-md-12">
               <button mat-button class="cardBtn">
                <div class="whiteText"  >
                  Summervile village hotel
                  </div>
                </button>

              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <button mat-button class="pinkButton">
                  <div class="blueTextButton" >
                    Summervile village hotel
                    </div>
                  </button>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-2">
                </div>
                <div class="col-md-8">

                  <button mat-button class="orangeButton" style="width: 100%;">VER PROMOÇÃO</button>
                </div>
               <div class="col-md-2">
              </div>
              </div>

                </div>
                <div class="col-md-4">
                  <img src="../../../../assets/coobHome/familys/imgpromocao232x228px.png" class="d-block w-100" alt="...">
                  <br>
                  <div class="row">
                    <div class="col-md-12">
                      <button mat-button class="cardBtn">
                        <div class="whiteText"  >
                          Summervile village hotel
                          </div>
                        </button>

                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-12">
                      <button mat-button class="pinkButton">
                        <div class="blueTextButton" >
                          Summervile village hotel
                          </div>
                        </button>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-2">
                      </div>
                      <div class="col-md-8">

                        <button mat-button class="orangeButton" style="width: 100%;">VER PROMOÇÃO</button>
                      </div>
                     <div class="col-md-2">
                    </div>
                    </div>

                      </div>
                      <div class="col-md-4">
                        <img src="../../../../assets/coobHome/familys/imgpromocao232x228px.png" class="d-block w-100" alt="...">
                        <br>
                        <div class="row">
                          <div class="col-md-12">
                            <button mat-button class="cardBtn">
                              <div class="whiteText"  >
                                Summervile village hotel
                                </div>
                              </button>

                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-md-12">
                            <button mat-button class="pinkButton">
                              <div class="blueTextButton" >
                                Summervile village hotel
                                </div>
                              </button>
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-md-2">
                            </div>
                            <div class="col-md-8">

                              <button mat-button class="orangeButton" style="width: 100%;">VER PROMOÇÃO</button>
                            </div>
                           <div class="col-md-2">
                          </div>
                          </div>

                            </div>
          </div>
          </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row"  style=" margin-top: -15%; padding: 15em;">
                <div class="col-md-4">
                  <img src="../../../../assets/coobHome/familys/imgpromocao232x228px.png" class="d-block w-100" alt="...">
                  <br>
                  <div class="row">
                    <div class="col-md-12">
                      <button mat-button class="cardBtn">
                        <div class="whiteText"  >
                          Summervile village hotel
                          </div>
                        </button>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-12">
                      <button mat-button class="pinkButton">
                        <div class="blueTextButton" >
                          Summervile village hotel
                          </div>
                        </button>
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-md-2">
                      </div>
                      <div class="col-md-8">

                        <button mat-button class="orangeButton" style="width: 100%;">VER PROMOÇÃO</button>
                      </div>
                     <div class="col-md-2">
                    </div>
                    </div>

                      </div>
                      <div class="col-md-4">
                        <img src="../../../../assets/coobHome/familys/imgpromocao232x228px.png" class="d-block w-100" alt="...">
                        <br>
                        <div class="row">
                          <div class="col-md-12">
                            <button mat-button class="cardBtn">
                              <div class="whiteText"  >
                                Summervile village hotel
                                </div>
                              </button>

                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-md-12">
                            <button mat-button class="pinkButton">
                              <div class="blueTextButton" >
                                Summervile village hotel
                                </div>
                              </button>
                          </div>
                        </div>
                        <br>
                        <div class="row">
                          <div class="col-md-2">
                            </div>
                            <div class="col-md-8">

                              <button mat-button class="orangeButton" style="width: 100%;">VER PROMOÇÃO</button>
                            </div>
                           <div class="col-md-2">
                          </div>
                          </div>

                            </div>
                            <div class="col-md-4">
                              <img src="../../../../assets/coobHome/familys/imgpromocao232x228px.png" class="d-block w-100" alt="...">
                              <br>
                              <div class="row">
                                <div class="col-md-12">
                                  <button mat-button class="cardBtn">
                                    <div class="whiteText"  >
                                      Summervile village hotel
                                      </div>
                                    </button>

                                </div>
                              </div>
                              <br>
                              <div class="row">
                                <div class="col-md-12">
                                  <button mat-button class="pinkButton">
                                    <div class="blueTextButton" >
                                      Summervile village hotel
                                      </div>
                                    </button>
                                </div>
                              </div>
                              <br>
                              <div class="row">
                                <div class="col-md-2">
                                  </div>
                                  <div class="col-md-8">

                                    <button mat-button class="orangeButton" style="width: 100%;">VER PROMOÇÃO</button>
                                  </div>
                                 <div class="col-md-2">
                                </div>
                                </div>

                                  </div>
            </div>
            </div>
            </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
           <img src="../../../../assets/coobHome/icons/setahotel01-28x27px.png">
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <img src="../../../../assets/coobHome/icons/setahotel02-28x27px.png">
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
      <div class="row">
        <div class="col-md-12">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ab impedit quo sed, et
          numquam
          earum quisquam officia modi excepturi perspiciatis! Suscipit repellat unde fugiat at maxime odit aliquid
          reiciendis?</div>

      </div>

      <div class="row">
        <div class="col-md-6">aqui vai a foto e uma bucetada de texto</div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ab impedit quo sed, et
              numquam
              earum quisquam officia </div>
            <div class="col-md-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ab impedit quo sed, et
              numquam
              earum quisquam officia </div>
          </div>
          <div class="row">
            <div class="col-md-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ab impedit quo sed, et
              numquam
              earum quisquam officia </div>
            <div class="col-md-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ab impedit quo sed, et
              numquam
              earum quisquam officia </div>
          </div>
        </div>
</div>
        <div class="row">
          <div class="col-md-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ab impedit quo sed, et
            numquam
            earum quisquam officia modi excepturi perspiciatis! Suscipit repellat unde fugiat at maxime odit aliquid
            reiciendis?</div>
          <div class="col-md-6">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse ab impedit quo sed, et
            numquam
            earum quisquam officia modi excepturi perspiciatis! Suscipit repellat unde fugiat at maxime odit aliquid
            reiciendis?</div>
        </div>

        <div style="padding: 1em;">
          <div class="row">
            <div class="col-md-4"></div>

            <div class="col-md-4">
              <button mat-raised-button
                style="background-color: rgb(241, 196, 12); color: #fff; border-radius: 20px; width: 100%;">Assine</button>
            </div>

            <div class="col-md-4"></div>

          </div>
        </div>


    <div style="padding: 1em;">
      <div class="row">
        <div class="col-md-4"></div>

        <div class="col-md-4">
          <button mat-raised-button
            style="background-color: rgb(241, 196, 12); color: #fff; border-radius: 20px; width: 100%;">Assine</button>
        </div>

        <div class="col-md-4"></div>

      </div>
    </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="container">
          <br><br><br>          <br><br><br>
          <br><br><br>
<p class="blueText">Leia o nosso </p><br> <p class="blueText" style="text-align: right;">blog e explore</p>
<br>
<p class="yellowText">Muitos Brasis ;) </p>
<br>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-9">
<button mat-button class="greenButton" style="width: 70%;">BLOG COOB+</button>
</div>
</div>
        </div>
      </div>
      <div class="col-md-4">
        <img src="../../../../assets/coobHome/familys/imgindique442x517px.png">
      </div>
      <div class="col-md-4">
        <div class="container">
          <br><br><br>          <br><br><br>

          <p class="yellowText" style="text-align: center;">Indique+ </p>
<br>

<p class="blueText" style="text-align: center;">e ganhe muitos</p><br> <p class="blueText" style="text-align: center; font-size: 48px;">DOTZ!</p>
<br>
<div class="row">
<div class="col-md-3"></div>
<div class="col-md-9">
  <button mat-button class="greenButton">INDIQUE+ AGORA</button>
</div>
</div>
        </div>
      </div>
</div>
<div class="container" style="padding: 5em;">
<img src="../../../../assets/coobHome/components/img-depoimento (1).png" >

</div>
</div>
<div class="container" style="padding: 2em;">
  <p class="blueText" style="text-align: center;">Com os <b class="yellowText">Parceiros Coob+</b></p>


  <br>
  <p class="blueText" style="margin-left: 20%; text-align: center;">Você tem + vantagens</p>

  </div>
<div class="row">
  <div class="col-md-12">
  <div class="toolbarLeft">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <br><br>
            <br><br>

            <div >
              <img src="../../../../assets/coobHome/logo/rodapecoob289x78px.png">
              </div>
              <br>
              <br>
              <p class="whiteText"> Assine nossa newsletter e receba novidades</p>
              <div class="row">
                <div class="col-md-9">
                <form class="nosubmit">
                <input class="nosubmit" type="search" placeholder="Search...">
              </form>
              </div>
              <div class="col-md-3">
              <button mat-button class="pinkButton1" style="width: 100%; height: 100%; margin-left: -100%; text-align: center;">ENVIAR </button>
</div>
</div>
          </div>

          <div class="col-md-8">
            <div class="container">
              <div class="row">
                <div class="col-md-3">
                  </div>
                  <div class="col-md-6">
                  </div>
                  <div class="col-md-3">
                  </div>
                </div>
              <br><br><br><br><br>
            <div class="row" style="margin-left: 10%;">
              <div class="col-md-3">aaaaaaaaaaa</div>
              <div class="col-md-3">aaaaaaaaaaaaaaaa</div>
              <div class="col-md-3">aaaa</div>
              <div class="col-md-3">aaaaaaa</div>
</div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
</div>
