/* You can add global styles to this file, and also import other style files */

 body {     height: 100% !important;
  margin: 0;

  font-size: 14.5px;
  line-height: 1.42857;
  max-width: 100%;
overflow-x: hidden;}
